:root {
  --color-main: #000;
  --color-main-invert: #cacaca;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  --box-shadow-invert: 0 0 10px rgba(255, 255, 255, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-main: #fff;
    --color-main-invert: #262626;
    --box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    --box-shadow-invert: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-main);
  background-color: var(--color-main-invert);
}
