.branches {
  padding: 200px 0;
  background-color: #181a1f;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title {
}

.subtitle {
  padding: 2rem 0;
}

.listBox {
  margin-top: 2rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
}
