.intro {
  background: url('@/shared/assets/intro-bg.jpeg') no-repeat center center;
  background-size: cover;
}

.backdrop {
  padding: 200px 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}

.container {
  text-align: center;
  gap: 4rem;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
