.intro {
  padding: 200px 0;
  background-color: #23272f;
}

.container {
  text-align: center;
  gap: 4rem;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
